In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl

mpl.rcParams['axes.grid'] ="True"
mpl.rcParams['axes.spines.top'] = "True"
mpl.rcParams['axes.spines.right'] = "True"
mpl.rcParams['xtick.labelsize'] = 20
mpl.rcParams['ytick.labelsize'] = 20

df_epl = pd.read_csv("../data/EPL_1819_clean.csv")

home_teams = df_epl["HomeTeam"].unique()
away_teams = df_epl["AwayTeam"].unique()

all_teams = list(set(np.append(home_teams, away_teams)))

print(all_teams)

['Brighton', 'Crystal Palace', 'Huddersfield', 'Tottenham', 'Everton', 'Newcastle', 'Arsenal', 'Man United', 'Cardiff', 'Southampton', 'Watford', 'Burnley', 'Wolves', 'Leicester', 'Man City', 'West Ham', 'Chelsea', 'Bournemouth', 'Liverpool', 'Fulham']

In [2]:
team = all_teams[0]
df_team = df_epl[(df_epl["HomeTeam"]==team) | (df_epl["AwayTeam"]==team)]
df_team

,Unnamed: 0,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HS,AS,HST,AST,HC,AC
5,5,Watford,Brighton,2,0,H,19,6,5,0,8,2
16,16,Brighton,Man United,3,2,H,6,9,3,3,3,5
23,23,Liverpool,Brighton,1,0,H,22,6,8,2,8,5
30,30,Brighton,Fulham,2,2,D,15,10,5,5,7,1
49,49,Southampton,Brighton,2,2,D,14,12,5,4,1,4
50,50,Brighton,Tottenham,1,2,A,8,16,4,7,5,7
64,64,Man City,Brighton,2,0,H,28,4,8,1,10,3
70,70,Brighton,West Ham,1,0,H,9,17,4,4,2,9
85,85,Newcastle,Brighton,0,1,A,27,8,6,2,10,2
90,90,Brighton,Wolves,1,0,H,2,25,1,7,1,10
103,103,Everton,Brighton,3,1,H,14,5,3,3,6,4
110,110,Cardiff,Brighton,2,1,H,20,7,6,3,4,1
120,120,Brighton,Leicester,1,1,D,14,8,3,3,6,1
132,132,Huddersfield,Brighton,1,2,A,7,14,2,6,2,6
141,141,Brighton,Crystal Palace,3,1,H,9,18,3,5,4,5
152,152,Burnley,Brighton,1,0,H,14,14,4,1,2,7
167,167,Brighton,Chelsea,1,2,A,6,10,2,3,4,1
172,172,Bournemouth,Brighton,2,0,H,14,10,3,5,6,5
180,180,Brighton,Arsenal,1,1,D,12,7,3,4,4,9
190,190,Brighton,Everton,1,0,H,11,13,3,4,6,6
207,207,West Ham,Brighton,2,2,D,13,13,6,6,1,5
210,210,Brighton,Liverpool,0,1,A,7,10,0,3,2,7
223,223,Man United,Brighton,2,1,H,20,7,5,3,6,5
231,231,Fulham,Brighton,4,2,H,24,15,7,6,10,1
240,240,Brighton,Watford,0,0,D,21,5,4,0,7,0
251,251,Brighton,Burnley,1,3,A,16,9,6,5,9,3
271,271,Leicester,Brighton,2,1,H,19,15,3,3,4,8
280,280,Brighton,Huddersfield,1,0,H,13,6,4,4,6,3
290,290,Crystal Palace,Brighton,1,2,A,15,4,3,3,8,0
304,304,Brighton,Southampton,0,1,A,14,8,1,2,6,5
316,316,Chelsea,Brighton,3,0,H,17,3,4,1,7,1
326,326,Brighton,Bournemouth,0,5,A,8,14,1,7,4,1
335,335,Brighton,Cardiff,0,2,A,14,10,2,3,5,4
341,341,Wolves,Brighton,0,0,D,22,5,5,0,14,1
346,346,Tottenham,Brighton,1,0,H,29,6,5,1,6,3
351,351,Brighton,Newcastle,1,1,D,9,9,2,1,7,4
366,366,Arsenal,Brighton,1,1,D,20,11,8,5,16,3
370,370,Brighton,Man City,1,4,A,6,20,2,9,2,6

In [9]:
team_shots = df_team.apply(lambda x: x["HS"] if x["HomeTeam"] == team else x["AS"], axis=1).sum()
team_shots_ot = df_team.apply( lambda x: x["HST"] if x["HomeTeam"] == team else x["AST"], axis=1).sum()
team_shots_vs = df_team.apply( lambda x: x["AS"] if x["HomeTeam"] == team else x["HS"], axis=1).sum()
team_shots_ot_vs = df_team.apply( lambda x: x["AST"] if x["HomeTeam"] == team else x["HST"], axis=1).sum()

# team_shots
# team_shots_ot
# team_shots_vs
team_shots_ot_vs

175

In [16]:
def calc_feats(df, team):
    team_stats = dict()
    df_team = df_epl[(df_epl["HomeTeam"]==team) | (df_epl["AwayTeam"]==team)]
    team_shots = df_team.apply(lambda x: x["HS"] if x["HomeTeam"] == team else x["AS"], axis=1).sum()
    team_shots_ot = df_team.apply( lambda x: x["HST"] if x["HomeTeam"] == team else x["AST"], axis=1).sum()
    team_shots_vs = df_team.apply( lambda x: x["AS"] if x["HomeTeam"] == team else x["HS"], axis=1).sum()
    team_shots_ot_vs = df_team.apply( lambda x: x["AST"] if x["HomeTeam"] == team else x["HST"], axis=1).sum()
    team_points = df_team.apply(lambda x: 3 if ((x["HomeTeam"] == team and x["FTR"] == "H") or (x["AwayTeam"] == team and x["FTR"] == "A")) else (1 if x["FTR"] == "D" else 0), axis=1).sum()

    team_stats["team"] = team
    team_stats["shots"] = team_shots
    team_stats["shots_ot"] = team_shots_ot
    team_stats["shots_vs"] = team_shots_vs
    team_stats["shots_ot_vs"] = team_shots_ot_vs
    team_stats["points"] = team_points
    return team_stats

In [17]:
calc_feats(df_epl, "Liverpool")

{'team': 'Liverpool',
 'shots': 574,
 'shots_ot': 226,
 'shots_vs': 307,
 'shots_ot_vs': 97,
 'points': 97}

In [18]:
all_teams_stats = []

for team in all_teams:
    team_stats = calc_feats(df_epl, team)
    all_teams_stats.append(team_stats)

df_all_stats = pd.DataFrame(all_teams_stats)
df_all_stats

              team  shots  shots_ot  shots_vs  shots_ot_vs  points
0         Brighton    365       108       582          175      36
1   Crystal Palace    491       146       525          164      49
2     Huddersfield    400       118       520          191      16
3        Tottenham    536       189       463          159      71
4          Everton    495       169       402          137      54
5        Newcastle    444       142       489          148      45
6          Arsenal    466       170       494          183      70
7       Man United    526       225       493          173      66
8          Cardiff    417       126       571          212      34
9      Southampton    480       162       523          179      39
10         Watford    434       151       490          184      50
11         Burnley    359       115       650          210      40
12          Wolves    474       151       456          148      57
13       Leicester    515       184       426          139      52
14        Man City    683       260       236           83      98
15        West Ham    441       157       528          200      52
16         Chelsea    606       198       347          127      72
17     Bournemouth    447       163       521          175      45
18       Liverpool    574       226       307           97      97
19          Fulham    453       149       583          225      26

In [19]:
df_all_stats.to_csv("../data/EPL_1819_stats.csv")